.infoBox {
  display: block;
  position: relative;
  margin: 5px auto;
  width: 400px;
  height: 35px;
  padding: 5px;
  border: 1px;
  border-radius: 3px;
  border-color: black;
  border-style: solid;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}
